@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");

/* BASIC STYLE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans" serif;
  color: #2d3945;
}

main {
  margin: 0 auto;
  padding: 0 0.5rem 3rem;
}

.header-content {
  max-width: 80%;
  margin: 0 auto;
  padding: 2rem 0;
}

.header-content p {
  font-weight: 300;
  margin-top: 0.5rem;
  color: #ccc;
}

h1 {
  background: #2d3945;
  color: #fff;
  padding: 1rem;
  text-transform: uppercase;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

.line1 {
  width: 100%;
  height: 1.5rem;
  border-bottom: 4px solid #2d3945;
}

.line2 {
  width: 100%;
  padding-top: 0.1rem;
  border-bottom: 2px solid #2d3945;
}

/* FORM STYLE */
.form {
  text-align: left;
  margin: 0 auto;
  padding: 0.5rem;
}

.heading-contact {
  margin-top: -2.5rem;
}
.heading-newsletter {
  margin-top: 2rem;
}

.heading-contact,
.heading-newsletter {
  margin-bottom: 1.2rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info label {
  padding: 0.5rem 1rem;
}

.contact-info input,
.contact-info select {
  background: rgb(230, 228, 228);
  padding: 1rem;
  border-radius: 10px;
  margin: 0.5rem 0.3rem;
  width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
}

.newsletter {
  padding: 1.5rem 0;
}

.newsletter p {
  margin: 1rem 0;
}

.area {
  margin-top: 1rem;
}

.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
  background: #4ebbb5;
  border-style: none;
  border-radius: 5px;
  width: 100%;
  color: #fff;
  transition: color 0.3s ease-in;
}

.btn:hover,
.btn:focus {
  color: #ccc;
}

.copyright {
  text-align: center;
  text-transform: capitalize;
  font-style: italic;
  color: #333;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .contact-info {
    flex-direction: row;
    justify-content: center;
  }
  .contact-info label {
    width: 40%;
  }
  .contact-info input,
  .contact-info select {
    width: 60%;
  }
  .form {
    width: 90%;
    max-width: 60%;
  }
}
