@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700&display=swap");

/* BASIC STYLE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", serif;
  color: #2d3945;
}

main {
  margin: 0 auto;
  padding: 0 0.5rem 3rem;
}

.header-content {
  padding: 2rem 0;
}

.header-content p {
  font-weight: 300;
  margin-top: 0.5rem;
  color: #ccc;
}

h1 {
  background: #2d3945;
  color: #fff;
  padding: 1rem;
  text-transform: uppercase;
}

header {
  text-align: center;
}

.line1 {
  width: 100%;
  height: 1.5rem;
  border-bottom: 4px solid #2d3945;
}

.line2 {
  width: 100%;
  padding-top: 0.1rem;
  border-bottom: 2px solid #2d3945;
}

fieldset {
  border: none;
}

/* FORM STYLE */

.form {
  text-align: left;
  margin: 0 auto;
  padding: 0.5rem;
}

.heading-contact {
  margin-top: -2.5rem;
}

.heading-contact,
.heading-news {
  font-weight: 700;
  font-size: 1.5rem;
}

.heading-contact,
.heading-news {
  margin-bottom: 1.2rem;
}

.contact-info {
  display: flex;
  flex-direction: column;
}

.contact-info:last-child {
  margin-top: -0.1rem;
}

::placeholder {
  text-align: right;
  font-style: italic;
}

.contact-info label {
  padding: 1rem;
  font-weight: 700;
  background-color: #2d3945;
  color: #fff;
  border-radius: 2px;
}

.contact-info input,
.contact-info select {
  background: rgb(230, 228, 228);
  padding: 1rem;
  border-radius: 10px;
  margin: 0.5rem 0.3rem;
  width: 100%;
}

input,
textarea,
select {
  border: none;
  border: 1px solid #52bab3;
  transition: all 0.25s ease-in-out;
}

input:focus,
textarea:focus,
select:focus {
  outline: 0;
  border-color: #52bab3;
  box-shadow: 0 0 0 0.2rem #52bab3;
}

input[type="checkbox"],
input[type="radio"] {
  width: auto;
  margin-right: 0.5rem;
}

.news {
  margin-top: 3rem;
}

.news label {
  font-weight: 700;
}
.news p {
  margin: 1rem 0;
}

div:last-of-type {
  margin-top: 1rem;
}

.area {
  margin-top: 1rem;
  width: 100%;
  height: 25vh;
  background: rgb(230, 228, 228);
  border-radius: 3px;
}

.btn {
  display: inline-block;
  padding: 1rem 1.5rem;
  margin: 1.5rem 0;
  background: #4ebbb5;
  border-style: none;
  border-radius: 5px;
  width: 100%;
  color: #fff;
  transition: color, opacity, 0.3s ease-in;
}

.btn:hover,
.btn:focus {
  color: #333;
  opacity: 0.9;
}

.copyright {
  text-align: center;
  text-transform: capitalize;
  font-style: italic;
  color: #333;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  .header-content,
  .form {
    max-width: 900px;
    margin: 0 auto;
  }

  .contact-info {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .contact-info label {
    width: 30%;
  }

  .contact-info input,
  .contact-info select {
    width: 70%;
  }

  .zip {
    max-width: 30%;
  }
}
